 

*{
    background-color: black;
    color:white

}
html{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p{

font-family: serif;

}


header{ 
background-image: url(photo/trackiationless.png);
}
nav{
    display: flex;
    justify-content: space-between;
    
}

.nav-title{

   font-size: 25px;
   font-weight: 800px;

}
nav > ul{

    display: flex;
    align-items: center;
}

    nav li {

list-style: none;
 margin-right: 50px;
}
nav a{text-decoration: none;
color: white;
}
.banner{
    display: flex;
    align-items: center;
}
.site-photo{ width: 500px;}

.qw
{margin-left: 10px;}
.social{
    margin-top: 20px;
}
p{font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}

.about-me{

padding: 150px;

}

.about{text-align: center;}
.about-description{text-align: center;}
