*{
    background-color: black;
    color:white

}
html{
    font-family: Georgia, 'Times New Roman', Times, serif;
}


nav{
    display: flex;
    justify-content: space-between;
    
}

.nav-title{

   font-size: 25px;
   font-weight: 800px;

}
nav > ul{

    display: flex;
    align-items: center;
}

    nav li {

list-style: none;
 margin-right: 50px;
}
nav a{text-decoration: none;
color: white;
}
.banner{
    display: flex;
    align-items: center;
}
.site-photo{ width: 500px;
box-shadow: 10px; 
margin: ;
bottom: 0;
right: 0;
margin: 0;
}